#container{
    padding:0px 1.75rem;
    margin:0.25rem 2rem;
    border: solid rgb(190, 190, 190) 1px;
}

h2{
    color:rgb(0, 174, 255);
    font-weight: 700;
    font-size:28px;
}

p{
    color: rgb(190, 190, 190);
    font-size: 20px;
    margin-left:1rem;
}